/target/
.settings
settings.xml
.idea
.classpath
.project
*.log
*.tmp
*.gz
/src/main/webapp/swagger-ui
/src/main/webapp/pay
/src/test/java/hb/bk/tmp
webapp*
/.springBeans
*.springBeans
/bin
*.data
/export
/temp
/wb